@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&display=swap");
/* line 33, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.white-bg {
  background: #ffffff;
}

/* line 36, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.gray-bg {
  background: #F5F9FB;
}

/*-------------Color include--------------*/
/*-- Background color---*/
/* line 60, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.gray-bg {
  background: #f7f7fd;
}

/* line 63, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.white-bg {
  background: #ffffff;
}

/* line 66, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.black-bg {
  background: #16161a;
}

/* line 69, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.theme-bg {
  background: #140C40;
}

/* line 72, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.brand-bg {
  background: #f1f4fa;
}

/* line 75, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.testimonial-bg {
  background: #f9fafc;
}

/*--- color------*/
/* line 81, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.white-color {
  color: #ffffff;
}

/* line 84, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.black-color {
  color: #16161a;
}

/* line 87, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_color.scss */
.theme-color {
  color: #140C40;
}

/* line 50, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_variables.scss */
.boxed-btn {
  background: #fff;
  color: #140C40 !important;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #140C40;
  letter-spacing: 3px;
  text-align: center;
  color: #140C40;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 67, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_variables.scss */
.boxed-btn:hover {
  background: #140C40;
  color: #fff !important;
  border: 1px solid #140C40;
}

/* line 72, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_variables.scss */
.boxed-btn:focus {
  outline: none;
}

/* line 75, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_variables.scss */
.boxed-btn.large-width {
  width: 220px;
}

/*--
    - Overlay
------------------------------------------*/
/* line 4, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 9, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}

/*-- Overlay Opacity --*/
/* line 22, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="1"]::before {
  opacity: 0.1;
}

/* line 27, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="2"]::before {
  opacity: 0.2;
}

/* line 32, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="3"]::before {
  opacity: 0.3;
}

/* line 37, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="4"]::before {
  opacity: 0.4;
}

/* line 42, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="5"]::before {
  opacity: 0.5;
}

/* line 47, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="6"]::before {
  opacity: 0.6;
}

/* line 52, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="7"]::before {
  opacity: 0.7;
}

/* line 57, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="8"]::before {
  opacity: 0.8;
}

/* line 62, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_overlay.scss */
[data-opacity="9"]::before {
  opacity: 0.9;
}

/* 1. Theme default css */
/* line 4, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

/* line 10, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #072366;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

/* line 24, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
p {
  font-family: "Open Sans", sans-serif;
  color: #3B4855;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

/* line 35, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

/* line 38, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

/* line 41, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

/* line 46, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 50, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.f-left {
  float: left;
}

/* line 53, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.f-right {
  float: right;
}

/* line 56, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.fix {
  overflow: hidden;
}

/* line 59, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.clear {
  clear: both;
}

/* line 63, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 67, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

/* line 72, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
a {
  color: #635c5c;
}

/* line 75, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
a:hover {
  color: #fff;
}

/* line 78, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

/* line 84, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
a,
button {
  color: #fff;
  outline: medium none;
}

/* line 89, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
}

/* line 90, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 94, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

/* line 101, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 105, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 114, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 118, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
li {
  list-style: none;
}

/* line 122, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}

/* line 233, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 236, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #ff3500;
}

/* line 246, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn {
  border: none;
  padding: 10px 65px 10px 31px;
  text-transform: capitalize;
  border-radius: 0px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  background-size: 200%;
  transition: 0.6s;
  box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to left, #FF3514, #d62d12, #FF3514);
  background-position: right;
}

/* line 260, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn i {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  left: 26px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* line 269, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn:hover i {
  left: 30px;
}

/* line 275, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn:hover {
  background-position: left;
}

/* line 279, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn2 {
  padding: 15px 65px 20px 31px;
  text-transform: capitalize;
  border-radius: 0px;
  cursor: pointer;
  color: #140C40;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #140C40;
  background: none;
}

/* line 290, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn2 i {
  color: #140C40;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  left: 26px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* line 299, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn2:hover i {
  left: 30px;
}

/* line 305, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn2:hover {
  color: #140C40;
}

/* line 311, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

/* line 316, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

/* line 320, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.about-btn {
  padding: 18px 43px;
}

/* line 325, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.header-btn {
  padding: 18px 43px;
}

/* line 328, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.hero-btn {
  padding: 17px 65px 17px 31px;
}

/* line 332, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.white-btn {
  padding: 30px 39px;
  background: #fff;
  color: #072366 !important;
}

/* line 336, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.white-btn::before {
  background: #140C40;
  color: #fff !important;
}

/* line 341, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.black-btn {
  padding: 14px 35px;
  background: #000;
  display: inline-block;
}

/* line 345, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.black-btn::before {
  background: #331391;
}

/* line 349, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.borders-btn {
  padding: 14px 35px;
  background: none;
  border: 1px solid #ff2656;
  border-radius: 0 10px;
  display: inline-block;
  color: #ff2656;
}

/* line 356, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.borders-btn::before {
  background: #331391;
}

/* line 362, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.cal-btn i {
  color: #09cc7f !important;
  font-size: 31px;
  font-weight: 300;
  margin-right: 10px;
}

/* line 368, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.cal-btn > p {
  color: #072366 !important;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin: 0 !important;
  position: relative;
  top: -7px;
}

/* line 393, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.submit-btn3 {
  background: #140C40;
  height: 60px;
  padding: 10px 43px;
  border: 0;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0px;
}

.exit3 {
  background: #140C40;
  height: 60px;
  padding: 10px 43px;
  border: 0;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0px;
}

/* line 1124, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_common.scss */
.login-btn {
  background: #3d91f7;
  border: 0;
  padding: 20px 70px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

/* line 3, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form {
  background: #fff;
  padding: 33px 60px 50px 50px;
  box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
}

@media (max-width: 575px) {
  /* line 3, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-form-area .login-form {
    padding: 40px 20px 20px 26px;
  }
}

/* line 10, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .login-heading {
  text-align: center;
}

/* line 12, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .login-heading span {
  color: #140C40;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
  display: block;
  text-transform: capitalize;
}

/* line 25, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .input-box {
  padding-top: 35px;
  padding-bottom: 75px;
}

@media (max-width: 575px) {
  /* line 25, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-form-area .login-form .input-box {
    padding-top: 28px;
    padding-bottom: 10px;
  }
}

/* line 33, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .input-box .single-input-fields label {
  display: block;
  font-size: 17px;
  margin-bottom: 6px;
  color: #140C40;
  text-transform: capitalize;
  font-weight: 500;
  text-align: left;
}

/* line 42, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .input-box .single-input-fields input {
  border: 1px solid #C9C9C9;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 25px;
  color: #000;
}

/* line 49, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .input-box .single-input-fields input::placeholder {
  color: #777777;
  font-weight: 300;
  font-size: 13px;
}

/* line 59, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 59, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-form-area .login-form .login-footer {
    display: block;
    text-align: start;
  }
}

@media (max-width: 575px) {
  /* line 59, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-form-area .login-form .login-footer {
    display: block;
    text-align: start;
  }
}

/* line 71, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .login-footer p {
  margin: 0;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 71, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-form-area .login-form .login-footer p {
    margin-bottom: 28px;
    display: block;
  }
}

@media (max-width: 575px) {
  /* line 71, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-form-area .login-form .login-footer p {
    margin-bottom: 28px;
    display: block;
  }
}

/* line 81, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-form-area .login-form .login-footer p a {
  color: #0074E8;
}

/* line 94, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  overflow: hidden;
}

@media (max-width: 575px) {
  /* line 94, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-check {
    display: block;
  }
}

/* line 102, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check input[type=checkbox] + label {
  display: inline-block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0;
  margin: 0 0 13px 0;
}

/* line 111, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check input[type=checkbox] {
  display: none;
}

/* line 115, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check input[type="checkbox"] + label::before {
  content: "\2714";
  border: 0.1em solid #e4e4e4;
  border-radius: 0.2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 10px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

/* line 129, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check input[type=checkbox] + label:active:before {
  transform: scale(0);
}

/* line 133, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check input[type=checkbox]:checked + label:before {
  background-color: #140C40;
  border-color: #140C40;
  color: #fff;
  line-height: 18px;
}

/* line 141, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check a {
  color: #0074E8;
  font-size: 14px;
  font-weight: 400;
}

/* line 145, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
.login-check a:hover {
  color: #140C40;
}

@media (max-width: 575px) {
  /* line 141, C:/Users/HP/Desktop/jun-2020/281.Magazine_News/assets/scss/_login.scss */
  .login-check a {
    float: left;
    display: block;
    padding-top: 7px;
    margin-bottom: 10px;
  }
}